/* Random */

html, body {
  height: 100%;
}

.slide-content {
  height: 100%;
  padding: 5% 5%;
}

.slide-content h2 {
  font-size: 42px;
  margin-bottom: 5%;
}

.slide-content p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 22px;
}

.slide-content .citation {
  margin-bottom: 15px;
}

/* Header */

.header {
  position: relative;
  background-image: url("../pictures/ionis-paris-team.jpg");
  height: 100%;
  color: #fff;
  margin-bottom: 60px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darken {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

/*
.text-orange {
color: #F59D19;
}

.text-blue {
color: #0B97C6;
}
*/

.header h1 {
  margin-top: 5%;
}

.header .footer {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
}

.logo-softer-shock { /* picture ?*/
  display: block;
  width: 180px;
  text-align: center;
  margin:auto;
}

.logo-softer-shock, .header-citation {
  position: relative;
  left: -50%;
}

.scroll-arrow img {
  width: 60px;
  height: auto;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 30px);
  filter: brightness(300%);
}

.scroll-arrow img:hover {
  width: 70px;
  bottom: 5px;
  left: calc(50% - 35px)
}

/* Background */

.slide {
  width: 100%;
  height: 100%;
}

#slide2 {
  background-color: #d1e8ff;
}

#slide3 {
  background-color: #ffd29a;
}

#slide4 {
  background-color: #d1e8ff;
}

#slide5 {
  background-color: #ffd29a;
}

#slide6 {
  background-color: #d1e8ff;
}

/* Nice animated pictures */

.picture {
  transition: transform .6s .9s;
}

.lol {
  transform:translate3d(-40%, 0, 0);
}

.slide-content .picture {
  display: block;
  width: 50%;
  margin: auto;
  transform: translate3d(0, 0, 0);
}

/* Map */

.map-container {
  width: 100;
  height: auto;
}

/* Tabs */

.tabs-container {
}

.button-container {
  padding: 0;
}

.tabs-menu {
  overflow: hidden;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: bold;
  background-color: #2a6ebb;
}

.tabs-menu button {
  width: 100%;
  background-color: #2a6ebb;
  float: left;
  border: none;
  border-top: 5px solid #2a6ebb;
  outline: none;
  cursor: pointer;
  padding: 42px 0;
  transition: 0.3s;
}

.tabs-menu button:hover {
  background-color: #ffa438;
  border-top: 5px solid #ffa438;
}

.tabs-menu button.active {
  border-top: 5px solid #ffa438;
  border-left: 1px solid #2c5dad;
  border-right: 1px solid #2c5dad;
  background-color: #1a5ebb;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* D3 tooltips */

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.d3-tip {
  line-height: 1.5;
  font-weight: 400;
  font-family:"avenir next", Arial, sans-serif;
  padding: 6px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFA500;
  border-radius: 1px;
  pointer-events: none;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  pointer-events: none;

}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

pointer-events:none;
}*/

.details{
  color:white;
}
